.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 100px;
  align-items: end;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid var(--noc-grey-2);
}

.step {
  padding: 64px 40px 64px 0;
  border-right: 1px solid var(--noc-grey-2);
}

.step:nth-child(2) {
  padding: 64px 40px;
}

.step:last-child {
  padding: 64px 0 64px 40px;
  border-right: none;
}

.num {
  display: block;
  font-size: 11px;
  font-weight: 500;
  color: var(--noc-grey-4);
  margin-bottom: 40px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: var(--noc-white);
  margin-bottom: 24px;
  line-height: 1;
}

.body {
  font-size: 14px;
  font-weight: 400;
  color: var(--noc-grey-5);
  line-height: 1.7;
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .steps {
    grid-template-columns: 1fr;
  }

  .step,
  .step:nth-child(2),
  .step:last-child {
    padding: 40px 0;
    border-right: none;
  }
}
